<!--
<div class="card justify-content-center align-items-center" >
  <div class="row"></div>
  <div class="card-body">
    <fa-icon [icon]="faTree"></fa-icon>
    Tree
  </div>
</div>
-->

<div class="container d-flex h-100">
  <div class="row align-self-center w-100">
      <div class="col-6 mx-auto text-center">
          <div id="tree" class="jumbotron bg-success-secondary text-white">
              <p class="text-success">
                <fa-icon [icon]="faTree" size="5x"></fa-icon>
              </p>
              <p class="lead">Plant a simple tree</p>
              <p class="lead">
                  <a class="btn btn-success btn-lg" href="#" role="button">Plant!</a>
              </p>
          </div>
      </div>
  </div>
</div>